<!-- FOOTER SECTION -->
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-6 col-sm-12">
                <div class="content">
                    <a href="#" class="logo">
                        <i class='bx bx-movie-play bx-tada main-color'></i>G<span class="main-color">M</span>Y<span class="main-color">W</span> pricing
                    </a>
                    <p>
                       Nếu bạn cảm thấy khó khăn hãy liên hệ với PHAN THANH BÌNH (Ưu tiên nữ)  để được tư vấn hỗ trợ 1-1 
                    </p>
                    <div class="social-list">
                        <a href="https://www.facebook.com/profile.php?id=61586314509724" class="social-item">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="https://x.com/gamyW_contact" class="social-item">
                            <i class="bx bxl-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/gamyw.contact/" class="social-item">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-6 col-sm-12">
                <div class="row">
                    <% footerMenus.forEach(menu => { %>
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b><%= menu.title %></b></p>
                                <ul class="footer-menu">
                                    <% menu.items.forEach(item => { %>
                                        <li>
                                            <% if (item.type === 'link') { %>
                                                <a href="<%= item.href || '#' %>"><%= item.text %></a>
                                            <% } else if (item.type === 'image') { %>
                                                <a href="<%= item.href || '#' %>">
                                                    <img src="<%= item.src %>" alt="<%= item.alt || '' %>">
                                                </a>
                                            <% } %>
                                        </li>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->
