<div class="col-4 col-md-12 col-sm-12">
    <div class="pricing-box <%= plan.highlight ? 'hightlight' : '' %>">
        <div class="pricing-box-header">
            <div class="pricing-name">
                <%= plan.name %>
            </div>
            <div class="pricing-price">
                <%= plan.price %> <% if (plan.period) { %><span>/<%= plan.period %></span><% } %>
            </div>
        </div>
        <div class="pricing-box-content">
            <% plan.features.forEach(feature => { %>
                <% if (feature.del) { %>
                    <p><del><%= feature.text %></del></p>
                <% } else { %>
                    <p><%= feature.text %></p>
                <% } %>
            <% }); %>
        </div>
        <div class="pricing-box-action">
            <a href="#" class="btn btn-hover">
                <span>Register now</span>
            </a>
        </div>
    </div>
</div>
